<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PBExpandMenu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PBMenu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>60C815C91F62461E00CEC5D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60C815E21F62461E00CEC5D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60C815ED1F62461E00CEC5D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60C818211F62972A00CEC5D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60C818291F62972A00CEC5D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
